extends layout/layout.pug

block content

    // begin evolution
    section#evolution.evolution.section


        .evolution__content
            // .evolution__row(style="background-image: url('/img/row_bg.webp')")
            .evolution__row
                .chapter__wrap
                    .chapter
                        .chapter__current 
                            span I
                        .chapter__label Chapter 1.  Fascinating Trivia About Antique Fonts

                .evolution__col
                    .evolution__step <span>№ 1</span> Antique fonts were one of the first typefaces to use a slab serif, whichis a thick, block-like serif that creates a strong visual impact
                    .evolution__ellipse
                        img(src="/img/ellipse.png", alt="alt")
                .evolution__col
                    .evolution__page
                        img(src="/img/page.png", alt="alt")
                        .evolution__pen
                            img(src="/img/pen.png", alt="alt")
                .evolution__letter 
                    .blot
                        img(src="../img/blot.png" alt="image" loading="lazy")
                    p Aa
                    .evolution__letter_ellipse.first
                        img(src="/img/ellipse_sm.png", alt="alt")
                    .evolution__letter_ellipse.second
                        img(src="/img/ellipse_sm.png", alt="alt")
                    .evolution__letter_ellipse.third
                        img(src="/img/ellipse_sm.png", alt="alt")

            .evolution__row
                .evolution__col
                    .evolution__house
                        img(src="/img/house.png", alt="alt")
                .evolution__col
                    .blot
                        img(src="../img/blot.png" alt="image" loading="lazy")

                    .evolution__step <span>№ 2</span> The popularity of Antique fonts grew rapidly in the 19th century, as they were used extensively in advertising and posters due to their eye-catching design.
                    .evolution__posters

                        .evolution__poster.first
                            img(src="/img/poster_1.png", alt="alt")
                        .evolution__poster.second
                            img(src="/img/poster_2.png", alt="alt")
                        span old 19th century posters

                        .evolution__loop
                            img(src="/img/loop.png", alt="alt")


                .airplane__wrap
                    img(src="/img/airplane_bg.png", alt="alt")
                    .airplane.first
                        img(src="/img/airplane.png", alt="alt")
                    .airplane.second
                        img(src="/img/airplane.png", alt="alt")
                    .airplane.third
                        img(src="/img/airplane.png", alt="alt")
                    .airplane.fourth
                        img(src="/img/airplane.png", alt="alt")

            .evolution__row
                .evolution__col
                    .evolution__step <span>№ 3</span>The earliest Antique fonts were cast using wooden type, which made them very difficult to produce consistently. Later, metal type allowed for more precise and uniform printing.

                    .evolution__print
                        img(src="/img/print.png", alt="alt")
                        .evolution__print_left
                            img(src="/img/print_left.png", alt="alt")
                        .evolution__print_right
                            img(src="/img/print_right.png", alt="alt")

                .evolution__col
                    .evolution__preview.first
                        img(src="/img/preview_1.png", alt="alt")
                    //- .evolution__preview.second
                    //-     //- img(src="/img/preview_2.png", alt="alt")
                    .evolution__preview.third
                        img(src="/img/preview_3.png", alt="alt")

            .evolution__row
                .evolution__col
                    .person
                        .person__label
                            img(src="/img/label.png", alt="alt")
                        .person__hat
                            img(src="/img/hat.png", alt="alt")
                        .person__costume
                            img(src="/img/costume.png", alt="alt")
                        .person__smoke
                            .person__smoke_pipe
                                img(src="/img/pipe.png", alt="alt")
                            .person__smoke_fume
                                img(src="/img/fume.png", alt="alt")


                .evolution__col
                    .evolution__step <span>№ 4</span>In the 20th century, Antique fonts fell out of favor as designers embraced more modern typefaces. However, they experienced a resurgence in popularity during the digital era, due to their classic, timeless appeal.

                    .evolution__hous
                        img(src="/img/hous.png", alt="alt")

            .evolution__row
                .evolution__col
                    .evolution__step <span>№ 5</span>Today, Antique fonts continue to be popular, and there are many variations of the typeface available, including bold and condensed styles.
                    .evolution__step Antique fonts have been used in a wide range of designs, including logos, packaging, book covers, and more. They are often associated with a vintage or retro aesthetic, and can add a touch of classic charm to any design.
                .evolution__col
                    .jump
                        .jump__spiral
                            img(src="/img/spiral.png", alt="alt")
                        .jump__bourd
                            img(src="/img/board.png", alt="alt")
                        .jump__lady
                            img(src="/img/lady.png", alt="alt")


    // end evolution
